<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="ssh-for-iris-container.ZPM">
    <Module>
      <Name>ssh-for-iris-container</Name>
      <Version>0.0.3</Version>
      <Description>Example how you can add SSH server to a standard IRIS docker image</Description>
      	 <Author>
			<Person>Robert C. Cemper</Person>
			<CopyrightDate>2021</CopyrightDate>
			<License>MIT</License>
			<Notes>
				repository: https://github.com/rcemper/SSH-for-IRIS-container
			</Notes>
		</Author>
	  <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="zSSH.MAC"/>
    </Module>
  </Document>
</Export>
